@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,900&display=swap");

:root {
  --primary-color: #f5f5f5;
  --secondary-color: #c0e0f0;
  --tertiary-color: #c8f0c0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.bg-tertiary {
  background-color: var(--tertiary-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-secondary {
  color: var(--secondary-color) !important;
}

.text-tertiary {
  color: var(--tertiary-color) !important;
}


.absolute {
  position: absolute;
}

.total-width{
  min-width: 100%;
}

.total-height {
  min-height: 100dvh;
}

.middle-height {
  min-height: 50%;
}

.flex-fill{
  flex-grow: 1;
}

.relative {
  position: relative;
}

.f-grow1 {
  flex-grow: 1;
}

.f-grow2 {
  flex-grow: 2;
}

.f-grow3 {
  flex-grow: 3;
}

.shadow-2 {
  box-shadow: 3px 3px 4px 0px rgb(0 0 0 / 11%) !important;
}

#letter {
  right: 10%;
  top: 28dvh;
  width: 70dvh;
  height: 80dvh;
}



#login-background {
  background-color: var(--primary-color);
  margin: 0;
  padding: 50px;
  min-height: 50vh;
}

.image-login {
  width: 25%;
  height: 25%;
}

#password-icon {
  padding: 0;
  margin: 0;
  position: relative;
  right: 30px;
  cursor: pointer;
  pointer-events: auto;
}


@media (max-width: 770px) {
  #login-background {
    flex-wrap: wrap;
  }

  .image-login {
    width: 50%;
    height: 50%;
  }

  .mh-100 {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  .mh-150 {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }

  .input {
    padding: 10px !important;
  }

  /* .p-50 {
    padding: 20px !important;
  } */

  .f-size-50 {
    font-size: 30px !important;
  }

  .f-size-22 {
    font-size: 16px !important;
  }

  .grid-c-2-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  
}

/* ADD TO LUISRRLEAL.COM */
.black-border {
  border: 1px solid black;
}

.mh-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mh-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mh-100 {
  margin-left: 100px;
  margin-right: 100px;
}

.mh-150 {
  margin-left: 150px;
  margin-right: 150px;
}

.mh-200 {
  margin-left: 200px;
  margin-right: 200px;
}

.grid-30-70 {
  display: grid;
  grid-template-columns: 30% 70%;
}

/* -------------- Estilos creados por Uriel ---------------*/

/* Estilos extra para el diseno */
li{
  list-style: none;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

i{
  margin-right: 5px;
}
.cursor-pointer{
  cursor: pointer;
}

.m-0{
  margin: 0;
}

.mb-30{
  margin-bottom: 30px;
}

.mb-25{
  margin-bottom: 25px;
}

/* Estilos del dashboard */
.dashboard{
  display: grid;
  grid-template-columns: 1fr 5fr; 
}

/* Estilos del Sidebar */
/* .sidebar{
  height: 100vh;
} */

.title-sidebar{
  height: 50px;
}

/* Estilos del Contenido */
.content{
  align-items: baseline;
  height: 50px;
}

.menu-item{
  cursor: pointer;
}



/* -------- Animaciones creadas por Uriel ---------*/
.cursor-pointer:hover{
  color: #101010;
  font-weight: bolder;
}
